<!DOCTYPE html>
<!--suppress JSFileReferences, NpmUsedModulesInstalled -->
<html lang="en">
    <head>
        <title>View</title>
        <meta charset="UTF-8"/>
        <meta lang="en"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

        <link rel="stylesheet" href="style.css"/>
        <link rel="stylesheet" href="../../global.css"/>
        <script src="script.js"></script>
        <script src="../../global.js"></script>

        <!-- Redirect to homepage -->
        <script src="../../redirect.js"></script>

        <!-- Material Design -->
        <link rel="stylesheet" href="../../google-sans/stylesheet.css"/>
        <script type="importmap">
            {
                "imports": {
                    "@material/web/": "https://esm.run/@material/web/"
                }
            }
        </script>
        <script type="module">
            import '@material/web/all.js';
            import {styles as typescaleStyles} from '@material/web/typography/md-typescale-styles.js';

            document.adoptedStyleSheets.push(typescaleStyles.styleSheet);

            // Initialize Material Design Web Components
            /* window.customElements.whenDefined().then(() => {
                window.M.List.autoInitialize();
                window.M.Drawer.init();
            }); */
        </script>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
    </head>

    <body>
        <main>
            <div id="top">
                <div id="top_fields">
                    <md-filled-text-field
                            id="recipeName"
                            label="Recipe Name"
                            readOnly
                            suffix-text=".json">
                    </md-filled-text-field>
                    <md-filled-text-field
                            id="multiplier"
                            label="Multiplier"
                            prefix-text="x"
                            value="1"
                    ></md-filled-text-field>
                </div>
                <md-filled-button id="load">
                    <span data-lkey="chooseFile">Choose file</span>
                    <svg slot="icon" xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px">
                        <path d="M440-200h80v-167l64 64 56-57-160-160-160 160 57 56 63-63v167ZM240-80q-33 0-56.5-23.5T160-160v-640q0-33 23.5-56.5T240-880h320l240 240v480q0 33-23.5 56.5T720-80H240Zm280-520v-200H240v640h480v-440H520ZM240-800v200-200 640-640Z"/>
                    </svg>
                </md-filled-button>
            </div>
            <div id="items">
                <div id="ingredients">
                    <h2 data-lkey="ingredients">Ingredients</h2>
                    <div class="scroll">
                        <md-list>
                            <!--
                            <md-list-item>
                                <span slot="start">#1</span>
                                <div class="root">
                                    <md-filled-text-field id="ing1_name" class="name"></md-filled-text-field>
                                    <md-filled-text-field id="ing1_count" class="count"></md-filled-text-field>
                                    <md-filled-text-field id="ing1_unit" class="unit"></md-filled-text-field>
                                </div>
                            </md-list-item>
                            -->
                            <p class="tip" data-lkey="tipChooseFile">
                                Nothing here. Press the "Choose File" button at the top of the page to load a recipe.
                            </p>
                        </md-list>
                    </div>
                </div>
                <div id="steps">
                    <h2 data-lkey="steps">Steps</h2>
                    <div id="stepScrl">
                        <div id="steps-wrapper">
                            <div id="step_left" class="step">
                                <h1></h1>
                                <p></p>
                            </div>
                            <div id="step" class="step">
                                <h1></h1>
                                <p></p>
                            </div>
                            <div id="step_right" class="step">
                                <h1></h1>
                                <p></p>
                            </div>
                        </div>
                    </div>
                    <div id="nav">
                        <md-outlined-button id="prev" disabled data-lkey="previous">Previous</md-outlined-button>
                        <md-filled-button id="next" disabled data-lkey="next">Next</md-filled-button>
                    </div>
                </div>
            </div>
        </main>
    </body>
</html>