md-list-item {
    div[slot="headline"] {
        display: flex;
        flex-direction: row;
        align-items: center;

        span + * {
            padding-left: 20px;
        }
    }
}

@media (max-width: 450px) {
    md-list-item div[slot="headline"] span + * {
        padding-left: revert;
        margin-left: auto;
    }
}