@import url('google-sans/stylesheet.css');

:root {
    --font: 'Google Sans', Roboto, 'Open Sans', Helvetica, system-ui;
    --md-sys-typescale-body-large-font: var(--font);
    --md-sys-typescale-body-small-font: var(--font);
}

*, *:before, *:after, *::placeholder {
    font-family: var(--font), sans-serif;
    animation-fill-mode: forwards !important;
}

html, body {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100vh;
    position: relative;
    overflow-x: hidden;
    overflow-y: auto;
}

iframe {
    border: none;
}

.buttons {
    display: flex;
    align-items: center;
    gap: 5px;
}